.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    background-color: white;
    padding: 40px;
    height: 50%;
    width: 50%;
    box-shadow: rgb(124, 122, 122) 4px 4px 4px;
}
body{
    background-color: rgb(238, 238, 248);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    color: rgb(91, 103, 114);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    padding: 60px;
}
.icons{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 20px;
    margin-right: 20px;
}
#search{
    background-color: rgb(226, 225, 241);
    border-radius: 20px;
    padding: 18px;
    margin-bottom: 5vh;
    margin-top: 8px;
    border: none;
    
}
#google{
    height: 40px;
    width: 40px;
    background-color: rgb(220, 237, 252);
    margin-top: 6vh;
}
#facebook{
    height: 40px;
    width: 40px;
    padding-right: 20px;
}
#twitter{
    height: 40px;
    width: 40px;
    padding-right: 20px;

}
#insta{
    height: 40px;
    width: 40px;
    padding-right: 20px;
 
}
p{
    align-content: center;
    margin-top: 0;
}

 
