body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
span{
display: flex;
align-items: center;
}

.cartItems{
    font-size: large;
    font-weight: bolder;
    color: pink;
}
.container {
    width: 70%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

select, input {
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

.book {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.book img {
    width: 50px;
    border-radius: 5px;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: flex-end;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close {
    cursor: pointer;
    font-size: 20px;
    float: right;
}
.filters img{
    width: 50px;
    border-radius: 5px;
}
button{
    background-color: pink;
    border-radius: 20px;
    padding: 20px;
}
.plus-minus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
